*.log
_notes/
public_html/sitemap.xml
public_html/data/
public_html/global_scripts/AfipWs/resources/TA/
public_html/global_scripts/php/facturado.txt
public_html/global_scripts/php/giftid_assoc_list.txt
public_html/global_scripts/php/cuentadigital_error_log.txt
public_html/global_scripts/php/afipWs_fails.txt
public_html/global_scripts/config.php