@charset "utf-8";
/* CSS Document */

/* barra de pasos de compra */

.purchase_steps
{
	height: 34px;
	margin: 10px 195px 0 195px;
}

.step
{
	padding:7px 12px;
	float:left;
}

.current_step
{
	background-color: #333;
	color: #EEE;
	border-radius: 2px;
}

.previous_step
{
	background-color: #DDD;
	border-radius:2px;
}

.spacer
{
	float:left;
	background-image:url(checkout_spacer.png);
	background-repeat:no-repeat;
	width:4px;
	height:8px;
	margin: 13px;
}

/* descripcion del producto */


.product_info
{
	margin: 40px 70px 0 70px;
	border: 1px solid #CCC;
	padding: 5px;
	height:124px;
}

.pi_img, .pi_img > img
{
	width: 240px;
	height:112px;
}

.pi_img
{
	float:left;
}

.pi_name
{
	float: left;
	margin: 24px 0px 0px 20px;
}

.pi_drm
{
	margin: 5px 0px 0px 5px;
	color: #555;
}

.pi_offerband
{
	float: right;
	position: absolute;
	right: 90px;
	background-color: #444;
	color: #EEE;
	padding: 2px 10px;
	font-weight:bold;
	margin-top: 7px;
}

.pi_offerband:before
{
	position: absolute;
	left: -13px;
	top: 0px;
	content: "";
	border-bottom: 12px solid transparent;
	border-top: 12px solid transparent;
	border-right: 13px solid #444;
	font-size: 0;
}

.pi_offerband_triangle
{
	
}

.pi_price
{
	float: right;
	margin: 46px 18px 0px;
	font-size: 18px;
}

/* selector de medio de pago */

.payment-options
{
	float:left;
	width:495px;
	text-align:center;
}

.payment-options > .list-group {
		
}

.payment-options > .list-group > a
{
	text-align:left;
}

.banktransfer-discount-tag {
	position:absolute;
	top:3px;
	right: 27px;
	border-radius: 3px;
	background-color: #478645;
	padding: 3px;
	color: #EEE;
	font-size: 14px;	
}


/* cuadro de cupon de descuento */

.discount-coupon-options {
	float: right;
	width: 233px;
	margin: 75px 57px 0 0;
}

#coupon-input {
	display:inline-block;
	width:200px;
	margin-right:4px;	
}


/* Formulario de compra final */

#final_form
{
	margin: 0px 164px;
}

.form_title
{
	float:right;
	text-align: center;
	font-size: 19px;
	color: rgba(42, 107, 170, 1);
	margin-right: 406px;
	
}

.pay_method
{
	float:left;
	margin-left:99px;
	font-size:16px;
	color: rgba(60, 168, 44, 1);
}

#purchase_name
{
	width:250px;
}

#purchase_email
{
	width:250px;
}

.checkbox
{
	margin-top:15px;
}

#error_list
{
	margin: 19px 96px;
	display:none;
}

#error_list li
{
	margin-left:20px;
}

.offer_warning
{
	margin: 19px 75px;
}

.tos_warning
{
	margin: 20px 80px 0px 80px;
	font-weight: bold !important;
	color: #444;
}

/* Cuadro de información de compra (una vez hecho el pedido) */

.purchase_instructions
{
	margin: 25px 80px;
}

.pi_title
{
	color: rgba(56, 121, 186, 1);
	margin-left: 10px;
}

.pi_instructions
{
	margin-top:15px;
	text-align:justify;	
}

.pi_transferdata
{
	margin: 25px 0px 20px 225px;
	background-color: #F0F0F0;
	padding: 8px;
	width: 360px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.2);
}

.pi_offerwarning
{
	margin-top:20px;
}

.pi_return
{
	margin-top: 25px;
	font-size: 17px;
	text-align: center;
	background-color: #EAEAEA;
	padding:3px 0;
}

/* Footer */

.purchase_footer
{
	margin: 18px 30px 23px;
}

.purchase_footer > .price-detail
{
	float:left;
}

.count-total td {
	padding:6px 0;
}

#row-transfer-discount {
	display:none;	
}

#row-subtotal {
	display:none;	
}

#proceedbtn
{
	float:right;
}