@charset "utf-8";



.purchase-form-box {
	float:right;
	margin: 40px 44px 0px 0;
	width:360px;
}

#error_list
{
	margin-top: 19px;
	display:none;
}

#error_list li
{
	margin-left:20px;
}

.offer_warning
{
	margin: 30px 20px 0 20px;
}

.tos_warning
{
	color: #444;
	float:left;
	width:600px;
}
