@charset "utf-8";
/* CSS Document */



/* FORMULARIO DE COMPRA DE JUEGOS */



#gf_loadicon
{
	margin: 0 23px 0px 0;
	display:none;

}

/* primer paso */


.form_row
{
	height:59px;
	margin-bottom:28px;
}

.form_input_left
{
	float:left;
	margin-left:10px;
}

.form_input_right
{
	float:right;
	margin-right:10px;
}

.form_label_input
{
	margin: 0 0 5px 7px;
}

#gf_input_name
{
	width:250px;
}

#gf_input_email
{
	width:250px;
}

#gf_input_gameurl
{
	width:325px;
}

#gf_input_gamename
{
	width:260px;
}

#gf_input_gameprice
{
	width: 83px;
	display: inline-block;
}

#gf_input_gamediscount
{
	width:80px;
}

#gf_error_list
{
	margin: 17px 0 0 0;
	display:none;
}

#gf_error_list ul
{
	margin-left: 11px;
}

#gf_offer_warning
{
	margin-top:20px;
	text-align: justify;
	display:none;
}

/* segundo paso */

#gf_second_form
{
	display:none;
}



#gf_order_price
{
	float: left;
	font-size: 18px;
	margin-left: 5px;
	display: none;
}

#gf_sf_repeatwarning
{
	display:none;
	margin-top:14px;
}


.gf_left
{
	float:left;
	width: 330px;
	margin: 15px 0 0 0;
}

.gf_payment_options p
{
	font-size:14px;
}

.gf_payment_options .list-group-item
{
	outline:none !important;
	
}

.gf_payoption_arsprice
{
	float: right;
	font-size: 16px;
	font-weight: bold;
	margin-top: 3px;
}

.gf_right
{
	float:right;
	margin: 15px 0 0 0;
	width: 305px;
}

.gf_confirmationdata
{
	font-size:14px;
	margin-top:4px;
	height: 20px;
	overflow: hidden;
	white-space:nowrap;
}

/* tercer paso */


#gf_third_form
{
	display:none;
}


.gf_tf_offerwarning
{
	font-size: 14px;
	margin-top: 15px;
	display:none;
}


.gf_tf_gamename {
	font-weight:bold
	
}

.gf_tf_ticketinstructions,
{
	margin-top:15px;
	text-align:justify;
	
}

.gf_tf_transferinstructions,
{
	margin-top:15px;
	text-align:justify;
	display:none;
}

.gf_tf_ticketdata,
{
	text-align:center;
	margin:18px 0;
	
}

.gf_tf_transferdata,
{
	margin: 20px 0 20px 144px;
	background-color: #F0F0F0;
	padding: 6px;
	width: 360px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.2);
	display:none;
}



/************************************/


.main_content
{
	height:1650px;
	padding-top: 67px;
}



.event_title
{
	font-size: 21px;
	text-align: center;
	padding: 6px 0;
	background-color: #383838;
	color: #EEE;
	margin-bottom: 11px;
}

.event_duration
{
	font-size:11px;
}


/*****************************/

/*   Catálogos página ppal (catalog panel) */

/* parte superior  */
.catalog-panel .cp-top, .catalog-panel .cp-top-short {
	color: #E9E9E9;
	background-color: #353535;
}

.catalog-panel > .cp-top > .cp-title {
	padding: 5px 0 5px 20px;
}

.catalog-panel > .cp-top-short > .cp-title {
	padding: 5px 0 5px 12px;
}

.catalog-panel .cp-viewmore
{
	float:right;
	border-left: 1px solid #575757;
	padding: 5px 25px;
	color:#EEE;
	margin-top:-5px;
}

.catalog-panel .cp-viewmore:hover {
	background-color:#494949;	
}

.catalog-panel > .cp-top-short .cp-viewmore
{
	padding: 5px 13px;
}

.catalog-panel .cp-bottom {
	color: #E9E9E9;
	background-color: #353535;
	padding:3px 10px;
	text-align:center;
}

.cp-carousel-pagination {
	float:left;	
}

.cp-carousel-pag-controls {
	font-size:16px;	
}

.cp-carousel-pag-controls a {
	color:#EEE;	
}

.cp-carousel-pag-controls a:first-child {
	margin-right:80px;
}

/** Contenido **/

.cp-content {
	overflow:hidden;	
}

/* Catálogo en forma de grilla o cuadro (catalog panel grid) */

.cpg-product {
	float: left;
	position:relative;
	overflow:hidden;
	/* medium */
	width: 240px;
	height: 112px;	
}

.cpg-product.cpg-product-sm {
	width: 224px;
	height: 105px;	
}

.cpg-product.cpg-product-lg {
	width: 320px;
	height: 149px;	
}


.cpg-product-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #000;
	opacity: 0;
}


.cpg-product-info {
	position: absolute;
	width: 100%;
	background-color: rgba(48, 48, 48, 0.8);
	color:#E7E7E7;
	
	/* medium */
	height: 44px;	
	margin-top: 112px;
}
.cpg-product-sm .cpg-product-info {
	height: 40px;
	margin-top:109px;	
}
.cpg-product-lg .cpg-product-info {
	height: 50px;
	margin-top:149px;	
}

.cpg-product-name {
	float:left;
	overflow:hidden;
	margin: 2px 0 0 7px;
	/*word-break:break-all;*/
	/* medium */
	font-size:14px;
	max-width: 195px;
	max-height: 37px;
		
}
.cpg-product-sm .cpg-product-name {
	font-size: 13px;
	max-width: 181px;
	max-height: 35px;
}
.cpg-product-lg .cpg-product-name {
	font-size: 15px;
	max-width: 230px;
	max-height: 48px;
}


.cpg-product-drm {
	float:right;
	/* medium */
	margin: 7px 5px 0 0;
}
.cpg-product-sm .cpg-product-drm {
	margin: 5px 5px 0 0;
}
.cpg-product-lg .cpg-product-drm {
	margin: 11px 8px 0px 0px;
}

.cpg-product-drm img {
	/* medium */
	width:21px;
}
.cpg-product-sm .cpg-product-drm img {
	width:19px;	
}
.cpg-product-lg .cpg-product-drm img {
	width:22px;	
}


.cpg-product-price {
	position: absolute;
	background-color: rgba(51, 51, 51, 0.88);
	/* medium */
	right: 7px;
	margin-top: 4px;
	padding: 2px 4px;
}

.cpg-product-lg .cpg-product-price {
	right: 12px;
}

.cpg-firstprice {
	text-decoration: line-through;
	color: #DDD;
	/* medium */
	font-size: 11px;
}
.cpg-product-sm .cpg-firstprice {
	font-size:10px;
}
.cpg-product-lg .cpg-firstprice {
	font-size:12px;
}


.cpg-lastprice {
	color: #F0F0F0;
	/* medium */
	font-size:14px;
}


.cpg-product-img {
	width:240px;
	height:112px;	
}
.cpg-product-sm .cpg-product-img {
	width:224px;
	height:105px;	
}
.cpg-product-lg .cpg-product-img {
	width:320px;
	height:149px;	
}

/* Catálogo de lista (para la barra lateral) */


.cpl-product {
	height: 79px;
	border: 1px solid #F9F9F9;	
	border-bottom: 1px solid #DDD;	
}

.cpl-product:hover {
	border:1px solid #06F;	
}


/***************************/

.left-column
{
	float:left;
	width:672px;
}

.right-column
{
	float:right;
	width:270px;
}


.explore-section {
	
}

.explore-item {
	margin-right:20px;
	font-size:14px;	
	line-height:1.7em;	
}

/************ Left column *********************/



/*************** Right column ***********************/



.panel_question_info
{
	float:right;
    margin: 3px 0px 0px;
}

.order_options
{
	margin: 5px 0 25px;
}

.order_options > .btn
{
	padding:7px 6px;	
}


#calcbox_input
{
	display:inline-block;	
	width:90px;
	margin:0 4px 0 7px;
}

#calcbox_btn
{
	padding: 4px 8px;
	margin-top:-4px;
}

#calcbox_loadicon
{
	margin: 9px 9px 0 0;
	float: right;
	display:none;
}


.calcbox_respline
{
	margin:10px 10px 0;
	font-size: 17px;
	height: 25px;	
}

.calcbox_placeholder
{
	font-size: 14px;
	color: #666;
}

.calcbox_usdammount
{
	float: left;
	margin-left: 6px;
	font-weight: bold;
	color: #080;
	display: none;
}

.calcbox_arsresponse
{
	position: absolute;
	margin-left: 125px;
	color: rgba(195, 56, 34, 1);
	display: none;
	font-weight: bold;
}


#btn_showbuyform
{
	width:100%;
	margin-bottom:20px;
}

#btn_showbuyform > .glyphicon
{
	float:right;
	margin: 9px 3px 0px 0px;
	font-size: 21px;
}


/* Slider de ofertas indie */

#indiecatalog_slider
{
	height:335px;
	width: 258px;
	overflow:hidden;
}

.ics_holder
{
	position: relative; 
	left: 0; 
	top: 0;
}

.ics_product_box
{
	height: 67px;
	width: 258px;
	background-color: #FFF;
	border-bottom: 1px solid rgba(212, 212, 212, 1);
	padding: 2px;
}

.ics_product_box:hover
{
	background-color:#F0F0F0;
}

.ics_p_img
{
	height: 58px;
	margin-top: 2px;
	float: left;
}

.ics_p_right
{
	float:right;
	width: 125px;
}

.ics_p_name
{
	font-size: 13px;
	line-height: 1.2em;
	margin: 2px 0 6px;
	height: 31px;
	color:#333;
	overflow:hidden;
}

.ics_p_price
{
	float: right;
	font-size: 14px;
	color: #555;
}

/* botones de scroll */

#ics_topscroll, #ics_bottomscroll
{
	position: absolute;
	z-index: 100;
	width: 258px;
	text-align:center;
	-webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
	opacity:0;
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#ics_topscroll
{
	background: -moz-linear-gradient(top, rgba(119,119,119,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(119,119,119,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6777777', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */	
}

#ics_bottomscroll
{
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(119,119,119,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(119,119,119,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(119,119,119,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(119,119,119,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(119,119,119,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(119,119,119,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6777777',GradientType=0 ); /* IE6-9 */
	margin-top: 313px;
}

#indiecatalog_slider:hover > #ics_topscroll
{
	opacity: 1;
}

#indiecatalog_slider:hover > #ics_bottomscroll
{
	opacity: 1;
}

.ics_slide_icon
{
	text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
	font-size: 18px;
}


/* Panel de soporte */


.support_topics
{
	margin-top:5px;
	width: 100%;
	height: 170px;
	overflow-y: scroll;
	border: 1px solid #CCC;
}


.support_topic
{
	padding:2px 5px;
	font-size:13px;
	border-bottom:1px solid #E0E0E0;
	color:#333;
	
}

.support_topic:hover
{
	background-color:#F0F0F0;
}
