@charset "utf-8";

.main_content
{
	padding-bottom: 20px;
}

.title
{
	color: #2674B7;
	text-align:center;
	margin-bottom:40px;
}


#form
{
	width: 200px;
	float: right;
	margin-right: 72px;
}

#input_id
{
	margin-bottom:15px;
}

#button_submit
{
	margin: 14px 0px 0px 38px;
}

.infobox
{
	float:right;
	width: 300px;
	background-color: #F0F0F0;
	padding: 13px;
	box-shadow: 0px 1px 3px 0px #999;
	border-radius: 3px;
	margin-right:5px;
}

#error_list
{
	display:none;
	margin:0px 40px 10px 40px;
}

#error_list ul
{
	margin-left:20px;
}