@charset "utf-8";
/* CSS Document */

.main_title
{
	margin: 8px 0 0 15px;
	color: rgba(38, 116, 183, 1);
}

.left_column
{
	float:left;
	width: 555px;
}

#search_input
{
	margin-top:15px;
	width: 525px;
	display: inline-block;
}

#load_icon
{
	margin-left:5px;
	display:none;
}

#result_box
{
	margin-top: 15px;
	height: 300px;
	background-color: #FFF;
	border: 1px solid #ccc;
	overflow-y:scroll;
}

.result
{
	padding:5px 9px;
	border-bottom:1px solid #DDD;
	color: #555;
}

.result:hover
{
	background-color:#EEE;
}

.link
{
	text-decoration:none !important;
}

.right_column
{
	float:right;
	width:350px;
}

.contact_list
{
	font-size:17px;
	margin-top:30px;
}

.contact_list li
{
	margin-bottom:10px;
}

.frequented_questions
{
	margin-top:10px;
	background-color:#FFF;
	height:198px;
	overflow-y:scroll;
	border: 1px solid #ccc;
}

.fq_question
{
	padding:3px 6px;
}

.frequented_questions>.fq_question:nth-child(odd)
{
	background-color:#F0F0F0;
}


